---
title: Timothy M. King
---

#summary.section
  %h2 About
  %p Hello there. I'm a Ruby on Rails web application developer. My development background is in PHP but I also have a lot of experience as a UNIX sysadmin. I am adept at writing shell scripts, and I've dabbled in most of the popular scripting languages, but Ruby is my primary love due to its powerful expressiveness.
  %p I like to be involved in <i>every</i> stage of a web application's evolution, from page design and layout to server configuration, deployment and maintenance. I'm proficient at HTML/CSS and javascript, and I also have experience doing SEO and Google AdWords. I'm a practitioner of Agile techniques and distributed teamwork.

#projects.section
  %h2 Projects
  %h3= link_to 'Your Garden Show', 'http://yourgardenshow.com/'
  %p Your Garden Show is a social network for gardeners. I was heavily involved in this project from the beginning doing both backend development and frontend javascript features. I continue to maintain the staging and production servers and help with new features as needed.
  %h3= link_to "AllVoices", 'http://allvoices.com/'
  %p AllVoices is a platform for open-media journalism. I developed new features for the site over a period of 8 months.
  %h3= link_to "Jordan Kitt's Music", 'http://jordankitts.com/'
  %p Jordan Kitt's is the east coast's largest piano retailer. I wrote and maintain a Rails application that handles the company's weblead routing.4

#history.section
  %h2 History
  %h3 2008-present: #{link_to 'We Are Titans', 'http://wearetitans.net'}, co-founder
  %em Lead Developer / Systems Administrator
  %h3 1999-2008: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
  %em Outside Promotions (1999-2003)<br/>
  %em Outside Promotions Coordinator / Call Center Manager (2003-2006)<br/>
  %em Webmaster /  Developer / Advertising Administrator (as of 2006)
