---
title: Timothy M. King
---

.summary.section
  %h2 About
  %p.lead I help people solve their business problems by working with them to create complete web-based solutions.
  %p My primarily tools are Ruby, Rails, and jQuery. I am completely proficient in HTML/CSS and I'm a capable front end designer as well. I have extensive experience with text-driven and Agile methodologies. I've worked with all of the major SQL databases and am passably familiar with the popular no-SQL options. I'm also adept at shell scripting and UNIX in general.
  %p My professional goal is to work in environments in which I can employ the full gamut of these skills, alongside people who value thorough planning, meticulous execution, and good communication.

.projects.section
  %h2 Projects
  %h4= link_to 'Energy Storage Exchange', 'http://www.energystorageexchange.org/'
  %p I was originally approached to clean up some bugs and incomplete features that the original developer was unable to finish. In the end, I updated the application to the latest version of Rails, refactored a lot of unidiomatic code, and continued developing several iterations worth of new features.
  %h4= link_to 'MDLogix', 'http://mdlogix.com/solutions/crms-clinical-research-management-system'
  %p I contracted with MDLogix for a year and a half, developing and refactoring their Clinical Research Management System application. The most significant project I worked on was a series of APIs designed to integrate with a business partner's .NET application. I also led development of a major insurance-related for Johns Hopkins.
  .page_break
  %h4= link_to "Jordan Kitt's Music", 'http://jordankitts.com/'
  %p Jordan Kitt's is the east coast's largest piano retailer. I wrote and maintain a Rails application that functions as a backend to the company's family of retail sites and handles internal weblead routing. I also provide support for most of the company's IT infrastructure.

.history.section
  %h2 History
  %dl
    %dt 2012-present: Freelancing
    %dd See above for some notable recent projects.

    %dt 2010-2012: #{link_to 'MDLogix', 'http://mdlogix.com'}
    %dd Part of a team of developers working on a clinical research CRM used by hospitals

    %dt 2008-2010: #{link_to 'We Are Titans', 'http://wearetitans.net'}
    %dd Co-founder and Lead Developer / Systems Administrator

    %dt 2006-2009: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
    %dd Webmaster /  Developer / Advertising Administrator

    %dt 2003-2006: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
    %dd Outside Promotions Coordinator / Call Center Manager

    %dt 2002-2003: Total Medical Consultants
    %dd Part-time Systems Administrator

    %dt 1999-2003: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
    %dd Outside Promotions