---
title: Timothy M. King
---

.summary.section
  %h2 About
  %p I'm a Ruby on Rails web developer. My development background is in PHP, and I also have experience as a UNIX sysadmin. I'm proficient at HTML/CSS and jQuery. I've worked mostly with MySQL and Postgres, and dabbled here and there with document databases. I've used most of the popular scripting languages and am especially adept at writing for bash and zsh, but Ruby is my primary love due to its powerful expressiveness.
  %p Given this background, I find that I prefer to be involved in <i>every</i> stage of a web application's evolution, from planning and implementing the stack to page design and layout to server configuration, deployment and maintenance. I'm a practitioner of test-driven development and Agile techniques, and a proponent of distributed teamwork.
  %p.noprint If you'd like, you can print this page to view my resume in a more traditional format.

.projects.section
  %h2 Projects
  %h3= link_to 'Your Garden Show', 'http://yourgardenshow.com/'
  %p Your Garden Show is a social network for gardeners. I was heavily involved in this project from the beginning with both backend development and frontend javascript features using jQuery. Some notable aspects of this project included using paperclip and delayed_job for background image processing, and Thinking Sphinx for fast in-site search. We also had to import large sets of outside data and images and tailor them to our schema.
  %h3= link_to "AllVoices", 'http://allvoices.com/'
  %p AllVoices is a platform for open-media journalism. I joined the project to help solve scaling issues by integrating memcache into the site, but I ended up staying on to develop a series of Prototype widgets.
  %h3= link_to "Jordan Kitt's Music", 'http://jordankitts.com/'
  %p Jordan Kitt's is the east coast's largest piano retailer. I wrote and maintain a Rails application that acts as a backend to the company's official site and handles internal weblead routing.

.history.section
  %h2 History
  %h3 2008-present: #{link_to 'We Are Titans', 'http://wearetitans.net'}
  %em Co-founder and Lead Developer / Systems Administrator

  %h3 2006-2009: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
  %em Webmaster /  Developer / Advertising Administrator

  %h3 2003-2006: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
  %em Outside Promotions Coordinator / Call Center Manager

  %h3 2002-2003: Total Medical Consultants
  %em Part-time Systems Administrator

  %h3 1999-2003: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
  %em Outside Promotions