---
title: Timothy M. King
---

#summary.section
  %h2 About
  %p I'm a Ruby on Rails web developer. My development background is in PHP but I also have a lot of experience as a UNIX sysadmin. I am adept at writing shell scripts and I've dabbled in most of the popular scripting languages, but Ruby is my primary love due to its powerful expressiveness.
  %p I like to be involved in <i>every</i> stage of a web application's evolution, from page design and layout to server configuration, deployment and maintenance. I'm proficient at HTML/CSS and jQuery, and I also have experience doing SEO and Google AdWords. I'm a practitioner of test-driven development, Agile techniques and distributed teamwork.
  %p I've provisioned servers for Rails Applications with both Apache and Nginx (which I prefer). I'm familiar with both git and capistrano.
  %p If you'd like, you can print this page to view my resume in a more traditional format.

#projects.section
  %h2 Projects
  %h3= link_to 'Your Garden Show', 'http://yourgardenshow.com/'
  %p Your Garden Show is a social network for gardeners. I was heavily involved in this project from the beginning doing both backend development and frontend javascript features with jQuery. Some notable aspects of this project included using paperclip and delayed_job for background image processing, and thinking_sphinx for fast in-site search.
  %h3= link_to "AllVoices", 'http://allvoices.com/'
  %p AllVoices is a platform for open-media journalism. I was brought on to integrate memcache into the site but I ended up staying on to develop a series of Prototype widgets.
  %h3= link_to "Jordan Kitt's Music", 'http://jordankitts.com/'
  %p Jordan Kitt's is the east coast's largest piano retailer. I wrote and maintain a Rails application that handles the company's weblead routing.

#history.section
  %h2 History
  %h3 2008-present: #{link_to 'We Are Titans', 'http://wearetitans.net'}
  %em Co-founder and Lead Developer / Systems Administrator
  %h3 1999-2008: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
  %em Outside Promotions (1999-2003)<br/>
  %em Outside Promotions Coordinator / Call Center Manager (2003-2006)<br/>
  %em Webmaster /  Developer / Advertising Administrator (as of 2006)
