---
title: Timothy M. King
---
.row
  %header
    .small-2.columns
      %br
      %img{ src: "/assets/images/me.jpg", alt: "Photo" }
    .small-10.columns
      %h1 Hello.
      %h2 I'm Timothy King and this is my professional resume.
.row
  .small-5.columns
    %h3 About
    %p.lead I help people solve their business problems by working with them to create comprehensive web application solutions.
    %p I primarily use Ruby on Rails, and more and more often, Javascript. I've worked with all of the major SQL databases, as well as some of the popular no-SQL options.
    %p I am also proficient in HTML, CSS, and jQuery (as well as HAML, SASS, and Cofeescript). I also have experience with most of the popular Javascript frameworks such as Ember and Backbone. In summary: <b>I am a full stack developer.</b>
    %p Additionally, I'm adept at shell scripting and UNIX systems administration and I frequently draw on these skills in my projects. I am familiar with Agile methodologies and distributed teamwork.
    %p My professional goal is to work in environments in which I can employ the full gamut of these skills, alongside people who value thorough planning, meticulous execution, and good communication.
    %p To the right, I list some of the many development projects I've contributed to over the years. Occasionally, I also will design, create, and host static boutique sites for friends or businesses with whom I have an especially close relationship. I've listed some of these as well.
    %p You may also view my #{link_to('github account', 'http://github.com/tmking')} or email me at #{link_to('tmk@lordzork.com', 'mailto:tmk@lordzork.com')}.

    %h3 Timeline
    %dl
      %dt 2013: #{link_to 'Haught Codeworks', 'http://haughtcodeworks.com'}
      %dd Senior devloper for a development firm in Colorado.

      %dt 2012-2013: Freelancing
      %dd Some notable recent projects are included to the right.

      %dt 2010-2012: #{link_to 'MDLogix', 'http://mdlogix.com'}
      %dd Part of a team of developers working on a clinical research CRM used by hospitals.

      %dt 2008-2010: #{link_to 'We Are Titans', 'http://wearetitans.net'}
      %dd Co-founder and Lead Developer / Systems Administrator.

      %dt 2002-2003: Total Medical Consultants
      %dd Part-time Systems Administrator.

      %dt 1999-2009: #{link_to "Jordan Kitt's Music", "http://jordankitts.com/"}
      %dd Webmaster / Developer / Advertising Administrator.
  .small-6.small-offset-1.columns
    %h3 Applications
    %dl
      %dt= link_to 'Over &amp; Under', 'http://overandunderonline.com/'
      %dd An online storefront for a business that makes custom cushions for outdoor furniture.

      %dt= link_to 'Rent Range', 'http://rentrange.com/'
      %dd Custom reports based on aggregreted housing market data pulled from a number of different sources.

      %dt= link_to "Jordan Kitt's Music", 'http://jordankitts.com/'
      %dd The East Coast's largest piano dealer uses a custom application for content management and weblead generation and distribution.

      %dt= link_to "Curator", 'http://alexanderzhdanov.com/'
      %dd A customizable template for artists and galleries.

      %dt= link_to "MDLogix", 'http://mdlogix.com/solutions/crms-clinical-research-management-system'
      %dd A custom CMS used by medical professionals to manage their clinical research programs.

      %dt= link_to "DOE International Energy Storage", "http://www.energystorageexchange.org/"
      %dd A resource of green energy projects from around the world, developed in partnership with the Department of Energy.

      %dt= link_to "Pairington", "http://pairington.com/"
      %dd A searchable repository of beverage and food pairings contributed by users.

      %dt= link_to "Ubiquidix", 'http://ubiquidox.com/'
      %dd Document storage for corporations with web, email, and fax interfaces.

      %dt= link_to "Your Garden Show", 'http://yourgardenshow.com/'
      %dd A social network for gardenening enthusiasts.

    %h3 Boutique Sites
    %ul
      %li= link_to "Field Custom English Tailors", "http://fieldtailors.com/"
      %li= link_to "M Kelner Projects", "http://mkelner.com/"
      %li= link_to "Mark Kelner", "http://markkelner.com/"
      %li= link_to "Leiriope Design", "http://leiriope.com/"
    %h3 References
    %dl
      %dt Chris Syllaba
      %dd
        CEO and owner, JKM Music Group
        %br
        (301) 943-0165

      %dt Ray Fugere
      %dd
        CFO and co-owner, JKM Music Group
        %br
        (301) 452-1270

      %dt Mark Kelner
      %dd
        Owner, M Kelner Gallery
        %br
        (202) 368-6900

      %dt Marty Haught
      %dd
        CEO and Founder, Haught Codeworks
        %br
        (303) 834-7765